.container-fluid {
  padding: 1.5% 7% 15% !important;
}
.about-me {
  padding: 1.5% 7% 3% !important;
}
.education {
  padding: 3.5% 7% 5% !important;
}
.skills {
  padding-bottom: 4% !important;
}
.services {
  padding-bottom: 5% !important;
}
.portfolio {
  padding-top: 3% !important;
}
body {
  font-family: Roboto, sans-serif;
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
h2 {
  font-weight: 400;
  line-height: 1;
  color: black;
}
h4 {
  font-weight: 400;
  line-height: 1.5;
  padding: 5% 0%;
  color: gray;
}
h3 {
  font-weight: 400;
}
.marks {
  color: gray;
  padding-top: 1% !important ;
}

h5 {
  font-weight: 400;
  padding-top: 0.4%;
  padding-bottom: 10%;
  color: black;
}
.navbar-brand {
  font-family: Shantell Sans, cursive;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 600;
}

.navbar {
  padding: 0 0 6.5rem;
}

.title-image {
  width: 30%;
  position: absolute;
  left: 60%;
}

#title {
  background-color: aliceblue;
  color: #000;
}

#contact {
  background-color: aliceblue;
  color: #000;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.btn {
  margin-top: 6%;
  background-color: black;
}

.resume-button {
  margin-top: 4% !important;
  height: 45px;
  width: 140px;
}

@media (max-width: 1020px) {
  #title {
    text-align: center;
  }
  .title-image {
    text-align: center;
    position: static;
    transform: rotate(0);
    width: 70%;
    padding-top: 7%;
  }

  #about {
    text-align: center;
  }
  .about-me-text {
    text-align: center;
  }
  .avatar-image {
    text-align: center;
    padding-top: 8%;
    margin-right: 15%;
  }

  .matrix {
    padding-bottom: 30px;
  }
  .senior {
    padding-bottom: 30px;
  }
  .college {
    padding-bottom: 30px;
  }

  .card {
    margin-bottom: 20px;
  }

  .carousel-indicators {
    position: absolute;
    top: 50%;
  }
  .portfolio {
    padding-left: 3% !important;
    padding-right: 3% !important;
  }

  .project-heading {
    padding-top: 18%;
  }
}

@media (max-width: 800px) {
  iframe {
    width: 560px;
    height: 315px;
  }

  .snake-image {
    width: 560px !important;
    height: 315px !important;
  }
  .model-image {
    width: 560px !important;
    height: 315px !important;
  }
}

@media (max-width: 450px) {
  iframe {
    width: 350px;
    height: 200px;
  }

  .snake-image {
    width: 350px !important;
    height: 200px !important;
  }
  .model-image {
    width: 350px !important;
    height: 200px !important;
  }
  .swiper-slide img {
    object-fit: contain;
  }
}

@media (max-width: 350px) {
  iframe {
    width: 250px;
    height: 200px;
  }

  .snake-image {
    width: 250px !important;
    height: 200px !important;
  }
  .model-image {
    width: 250px !important;
    height: 200px !important;
  }
  .swiper-slide img {
    object-fit: contain;
  }
}
.heading {
  font-weight: 600;
  padding-top: 40px;
  padding-bottom: 10px;
}

#about {
  padding-top: 3%;
}

.avatar-image {
  width: 60%;
  margin-left: 15%;
}

.about-me-text {
  line-height: 2.5rem;
}

.matrix {
  text-align: center;
}
.senior {
  text-align: center;
}
.college {
  text-align: center;
}

.progress {
  color: #000 !important;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
}

.skills-div {
  margin-left: 7%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.topic {
  padding-bottom: 20px;
  padding-top: 20px;
}

#services {
  padding-top: 1%;
}

.pricing-col {
  margin-top: 4%;
}

.card {
  height: 300px;
  margin-left: 2px;
  margin-right: 2px;
}
.carousel {
  height: 500px !important;
}

.carousel-caption {
  display: none !important;
}

.project-text {
  color: black;
  margin-top: 25px;
  font-weight: 400;
}

.carousel-indicators {
  position: absolute;
  bottom: 3%;
}

.project-des {
  margin-left: 7% !important;
  margin-top: 4%;
}

.text {
  font-weight: 400;
  line-height: 1.5;
  padding: 6% 20%;
  color: gray;
  text-align: center;
}

.contact {
  font-weight: 600;
}

.list {
  padding-top: 2%;
  padding-bottom: 2%;
}

.features-list-div {
  padding-left: 8%;
}

#footer {
  background-color: #fff;
  text-align: center;
  padding: 3% 7%;
}

.footer-sym {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 2%;
}

a {
  color: #000;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.snake-image {
  width: 660px;
  height: 415px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.model-image {
  height: 415px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}
